html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1, h2 {
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

ul {
  margin: 0.5rem 0;
  padding: 0;
  list-style-position: inside;
}

.message {
  font-size: 3rem;
}
